@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:ital@0;1&family=Nunito:wght@200;300;400;500;600;700;800&family=Poppins:wght@400;700&family=Roboto:wght@300;400;700&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:ital@0;1&family=Nunito:wght@200;300;400;500;600;700;800&family=Poppins:wght@400;700&family=Roboto:wght@300;400;700&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');

body{
    background-color:antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family:'Ubuntu',sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand {
    display:flex;
    align-items:center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 72vh;
    background-color: black;
    color:white;
    font-family:'varela Round',sans-serif;
    display:flex;
    flex-direction: column;
    margin: 23px auto;
    width: 70%;
    height: 85vh;
    border-radius:12px;
    padding:34px;
   background-image: url(../bg.jpg) ;
   background-position: center;
   background-size: auto;
}

.bottom{
    position: sticky;
    height: 70px;
    background-color: black;
    bottom: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 10px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top:45px;
}
.songItem{
    height: 30px;
    display: flex;
    background-color:white;
    width:40%;
    color:black;
    margin: 11px 0;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-radius: 34px;
}

.songItem img{
    width: 30px;
    margin: 0 20px;
    border-radius: 34px;
}
.timestamp {
    margin: 0 23px;
}
.timestamp i {

   cursor: pointer;
 
}
.songInfo{
    position:absolute;
    left: 10vw;
    font-family:'varela Round',sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.8s ease-in; 
}